.section--about{
    background-color: var(--background);
    background-image: url("../images/milk.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.div__about-up{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.p--tittle{
    padding-bottom: 16px;
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    vertical-align: top;
    line-height: 1.145;
}
.h2--tittle{
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 0.06em;
    vertical-align: top;
    line-height: 1.145;
    color: var(--title-text-color);
}
.img{
    padding-right: 99px;
}
.div__about-down{
    display: flex;
}
.div__p--principal{
    color: var(--primery-text-color);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.76;
    width: 400px;
    padding-bottom: 20px;
}
.div__p--secondary{
    color: var(--second-text);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.94;
    width: 400px;
    padding-bottom: 40px;
}
.button--about{
    color: var(--primery-text-color);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.301875;
    text-align: center;
    width: 176px;
    height: 44px;
    color: var(--title-text-color);
    border: none;
    border-radius: 20px;
    background-color: var(--primary-white-color);
    cursor: pointer;
}
.button--about:hover{
    background-color: var(--hover-button);
}
.button--about:focus{
    background-color: var(--hover-button);
}
.div--text{
    padding-top: 90px;
}
